In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import read_csv

In [28]:
data = read_csv('conapesca_2000-2015.csv', encoding='ISO-8859-1')
data.columns

C:\Users\ricar\AppData\Local\Temp\ipykernel_13780\2476291231.py:1: DtypeWarning:

Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.

Index(['Unnamed: 0', 'NombreActivo', 'SitioDesembarque', 'UnidadEconomica',
       'Estado', 'Oficina', 'LugarDeCaptura', 'Mes', 'Ano', 'NombrePrincipal',
       'NombreComun', 'NombreCientifico', 'PesoDesembarcado', 'PesoVivo',
       'Precio', 'Valor'],
      dtype='object')

In [29]:
labels_state, unique_state = pd.factorize(data['Estado'])
data['labels_state'] = labels_state

In [30]:
table_label_corres = pd.DataFrame({
    'State': unique_state,
    'Label': range(len(unique_state))  
})

# Mostrar la tabla de correspondencia
print(table_label_corres)

                  State  Label
0                SONORA      0
1       BAJA CALIFORNIA      1
2              VERACRUZ      2
3                OAXACA      3
4               SINALOA      4
5              CAMPECHE      5
6            TAMAULIPAS      6
7               NAYARIT      7
8               TABASCO      8
9               CHIAPAS      9
10              YUCATAN     10
11            MICHOACAN     11
12  BAJA CALIFORNIA SUR     12
13         QUINTANA ROO     13
14               COLIMA     14
15             GUERRERO     15
16              JALISCO     16
17           GUANAJUATO     17
18              MORELOS     18
19               MEXICO     19
20      SAN LUIS POTOSI     20
21              HIDALGO     21
22             TLAXCALA     22
23            QUERETARO     23
24           NUEVO LEON     24
25             COAHUILA     25
26       AGUASCALIENTES     26
27               PUEBLA     27
28            ZACATECAS     28
29            CHIHUAHUA     29
30              DURANGO     30

### Note:  The states that we will use are: 

*  Baja California          1
*  Baja California Sur      12
*  Sonora                   0
*  Sinaloa                  4

In [31]:
study_zone = [1, 12, 0, 4]
aggregated_data_filtered = data[data['labels_state'].isin(study_zone)]

In [32]:
aggregated_data_filtered['Ano']=aggregated_data_filtered['Ano'].astype(int)
meses_a_numero = {
    'ENERO': 1, 'FEBRERO': 2, 'MARZO': 3, 'ABRIL': 4, 'MAYO': 5, 'JUNIO': 6,
    'JULIO': 7, 'AGOSTO': 8, 'SEPTIEMBRE': 9, 'OCTUBRE': 10, 'NOVIEMBRE': 11, 'DICIEMBRE': 12
}
aggregated_data_filtered.loc[:, 'Mes_Num'] = aggregated_data_filtered['Mes'].map(meses_a_numero)
aggregated_data_filtered.loc[:, 'Fecha'] = pd.to_datetime(aggregated_data_filtered['Ano'].astype(str) + '-' + aggregated_data_filtered['Mes_Num'].astype(str) + '-01')

C:\Users\ricar\AppData\Local\Temp\ipykernel_13780\1114610557.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ricar\AppData\Local\Temp\ipykernel_13780\1114610557.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ricar\AppData\Local\Temp\ipykernel_13780\1114610557.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
def assign_zone_to_offices(input_aggregated_data, zones_aggregated_data):
    """
    Assigns the corresponding zone to each office in the input DataFrame based on the zones DataFrame.

    :param input_aggregated_data: DataFrame with a column 'Office' containing office names.
    :param zones_aggregated_data: DataFrame with two columns 'Office' and 'Zone', mapping offices to their zones.
    :return: DataFrame with an additional 'Zone' column.
    """
    zone_mapping = dict(zones_aggregated_data.values)
    input_aggregated_data['Zone'] = input_aggregated_data['Oficina'].map(zone_mapping)

    return input_aggregated_data

In [34]:
ofice_list = pd.read_csv('list_zones.csv')

In [35]:
aggregated_data_filtered = assign_zone_to_offices(aggregated_data_filtered, ofice_list)

C:\Users\ricar\AppData\Local\Temp\ipykernel_13780\992448712.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
ofice_list

                  Office  Zone
0                 TUXPAN    10
1                TECUALA    10
2     SANTIAGO IXCUINTLA    10
3               SAN BLAS    10
4                  TEPIC    10
5             HERMOSILLO     8
6               MAZATL√ÅN     9
7                ROSARIO     9
8              ESCUINAPA     9
9            TOPOLOBAMPO     9
10            LOS MOCHIS     9
11               GUASAVE     9
12              NAVOLATO     9
13            LA REFORMA     9
14              CULIAC√ÅN     9
15            HUATABAMPO     8
16        CIUDAD OBREG√ìN     8
17            BAH√çA KINO     8
18      TIJUANA-ROSARITO     1
19           SAN QUINT√çN     1
20              ENSENADA     1
21            EL ROSARIO     1
22                LORETO     5
23         SANTA ROSAL√çA     5
24               GUAYMAS     8
25    PE√ëITA DE JALTEMBA    11
26   CRUZ DE HUANACAXTLE    11
27                LA PAZ     5
28        CABO SAN LUCAS     5
29        ISLA DE CEDROS     3
30        PUNTA ABREOJOS     3
31     BAH√çA DE TORTUGAS     3
32        BAH√çA ASUNCI√ìN     3
33              MEXICALI     7
34       PUERTO LIBERTAD     7
35  GOLFO DE SANTA CLARA     7
36            SAN FELIPE     6
37        PUERTO PE√ëASCO     7
38  BAH√çA DE LOS √ÅNGELES     6
39           JES√öS MAR√çA     2
40        GUERRERO NEGRO     2
41   CIUDAD CONSTITUCI√ìN     4
42            SAN CARLOS     4
43   ADOLFO L√ìPEZ MATEOS     4

In [37]:
aggregated_data_filtered[aggregated_data_filtered['Oficina']=='ENSENADA']

,Unnamed: 0,NombreActivo,SitioDesembarque,UnidadEconomica,Estado,Oficina,LugarDeCaptura,Mes,Ano,NombrePrincipal,NombreComun,NombreCientifico,PesoDesembarcado,PesoVivo,Precio,Valor,labels_state,Mes_Num,Fecha,Zone
13,14,EMBARCACION GENERICA,EL SAUZAL,NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,ENERO,2000,SARDINA,SARDINA MONTERREY ENT. FCA.,SARDINOPS CAERULEUS,23000.0,26680.00,1.0,23000.0,1,1,2000-01-01,1.0
14,15,EMBARCACION GENERICA,EL SAUZAL,NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,ENERO,2000,SARDINA,SARDINA MONTERREY IND.,SARDINOPS CAERULEUS,64570.0,74901.20,0.0,0.0,1,1,2000-01-01,1.0
15,16,EMBARCACION GENERICA,EL SAUZAL,NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,ENERO,2000,SARDINA,SARDINA MONTERREY ENT. FCA.,SARDINOPS CAERULEUS,33330.0,38662.80,1.0,33330.0,1,1,2000-01-01,1.0
16,17,EMBARCACION GENERICA,EL SAUZAL,NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,ENERO,2000,SARDINA,SARDINA MONTERREY IND.,SARDINOPS CAERULEUS,55190.0,64020.40,0.0,0.0,1,1,2000-01-01,1.0
75,76,DON ISAAC,ENSENADA,NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,ENERO,2000,SARDINA,SARDINA MONTERREY IND.,SARDINOPS CAERULEUS,25000.0,29000.00,0.0,0.0,1,1,2000-01-01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7243882,7243883,YUMANO,ENSENADA,INFORMACI√ìN NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,SEPTIEMBRE,2015,TIBURON,TIBURON ALETA SECA DE,PRIONACE GLAUCA,133.0,0.00,119.0,15827.0,1,9,2015-09-01,1.0
7243883,7243884,YUMANO,ENSENADA,INFORMACI√ìN NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,SEPTIEMBRE,2015,TIBURON,TIBURON AZUL DESV. Y DESC. FCO.,PRIONACE GLAUCA,4724.0,5905.00,25.0,118100.0,1,9,2015-09-01,1.0
7243884,7243885,YUMANO,ENSENADA,INFORMACI√ìN NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,SEPTIEMBRE,2015,TIBURON,TIBURON DESV. Y DESC. FCO.,N/D,925.0,1387.50,25.0,23125.0,1,9,2015-09-01,1.0
7243885,7243886,YUMANO,ENSENADA,INFORMACI√ìN NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,SEPTIEMBRE,2015,TIBURON,TIBURON MAKO DESV. Y DESC. FCO.,ISURUS OXYRINCHUS,315.0,393.75,30.0,9450.0,1,9,2015-09-01,1.0
7243886,7243887,YUMANO,ENSENADA,INFORMACI√ìN NO DISPONIBLE,BAJA CALIFORNIA,ENSENADA,ALTAMAR,SEPTIEMBRE,2015,TIBURON,ZORRO DESV. Y DESC. FCO.,ALOPIAS VULPINUS,1172.0,1465.00,15.0,17580.0,1,9,2015-09-01,1.0

In [38]:
# Set the year and month as a new column for grouping
aggregated_data_filtered['YearMonth'] = aggregated_data_filtered['Fecha'].dt.to_period('M')

# Grouping by 'NombrePrincipal', 'Zone', 'YearMonth' and aggregating the sum for the specified columns
# Adding a frequency column that counts the number of occurrences of each 'NombrePrincipal' per 'Zone' and 'YearMonth'
aggregated_data= aggregated_data_filtered.groupby(['NombrePrincipal', 'Zone', 'YearMonth'])\
                                     .agg({'PesoDesembarcado': 'sum', 
                                           'PesoVivo': 'sum', 
                                           'Precio': 'mean', 
                                           'Valor': 'sum',
                                           'NombrePrincipal': 'size'})\
                                     .rename(columns={'NombrePrincipal': 'Frecuencia'}).reset_index()

C:\Users\ricar\AppData\Local\Temp\ipykernel_13780\2217222021.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
aggregated_data.to_csv('aggregated_data.csv')

In [40]:
# Display the first few rows of the aggregated DataFrame
def queryfisherie(PrincipalName,WichZone): 
    Consult = aggregated_data[aggregated_data['NombrePrincipal']==PrincipalName]
    Consult = Consult[Consult['Zone']==WichZone]
    return Consult

def plotfisherie(data,Name,Zone):

    # Sorting the data by YearMonth for proper time series plotting
    data_corrected = data.sort_values('YearMonth')

    # Convert 'YearMonth' to datetime for plotting
    data_corrected['YearMonth'] = data_corrected['YearMonth'].dt.to_timestamp()

    # Re-plotting the time series graph for 'PesoVivo'
    plt.figure(figsize=(30, 6))
    plt.plot(data_corrected['YearMonth'], data_corrected['PesoVivo'],'--b', marker='o')
    plt.title('Time Series for PesoVivo for '+ Name + 'en Zona '+ Zone)
    plt.xlabel('Date (Year y Month)')
    plt.ylabel('Kg')
    plt.xticks(rotation=45)
    plt.grid(True)
    plt.tight_layout()

    # Show the plot
    plt.show()

In [42]:
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd
import plotly.graph_objs as go

def plotfisherie(data, Name, Zone):
    # Ordenar los datos por YearMonth para un correcto trazado de la serie de tiempo
    data_corrected = data.sort_values('YearMonth')

    # Convertir 'YearMonth' a datetime para el trazado
    data_corrected['YearMonth'] = data_corrected['YearMonth'].dt.to_timestamp()

    # Crear una gr√°fica de serie de tiempo usando Plotly
    fig = go.Figure()
    fig.add_trace(go.Scatter(x=data_corrected['YearMonth'], y=data_corrected['PesoVivo'],
                             mode='lines+markers', name='PesoVivo',
                             line=dict(color='blue', dash='dash')))
    fig.update_layout(title='Time Series for PesoVivo for ' + Name + ' in Zona ' + str(Zone),
                      xaxis_title='Date (Year and Month)',
                      yaxis_title='Kg',
                      xaxis=dict(tickformat="%Y/%m"))

    return fig

# Inicializar la aplicaci√≥n Dash
app = dash.Dash(__name__)

# Esqueleto de la aplicaci√≥n
app.layout = html.Div([
    dcc.Dropdown(
        id='nombre_principal_dropdown',
        options=[{'label': i, 'value': i} for i in aggregated_data['NombrePrincipal'].unique()],
        value='ABULON'  # Valor por defecto
    ),
    dcc.Dropdown(
        id='zona_dropdown',
        options=[{'label': i, 'value': i} for i in aggregated_data['Zone'].unique()],
        value=1  # Valor por defecto
    ),
    dcc.Graph(id='time_series_graph'),
    html.Button('Descargar Datos', id='btn-download'),
    dcc.Download(id='download-data')
])

# Callback para actualizar la gr√°fica
@app.callback(
    Output('time_series_graph', 'figure'),
    [Input('nombre_principal_dropdown', 'value'),
     Input('zona_dropdown', 'value')]
)
def update_graph(selected_nombre_principal, selected_zona):
    # Usar la funci√≥n queryfisherie para filtrar los datos
    filtered_data = queryfisherie(selected_nombre_principal, selected_zona)
    # Usar la funci√≥n plotfisherie para crear la gr√°fica
    return plotfisherie(filtered_data, selected_nombre_principal, str(selected_zona))

# Callback para descargar datos
@app.callback(
    Output('download-data', 'data'),
    [Input('btn-download', 'n_clicks'),
     Input('nombre_principal_dropdown', 'value'),
     Input('zona_dropdown', 'value')],
    prevent_initial_call=True
)
def download_data(n_clicks, selected_nombre_principal, selected_zona):
    
    filtered_aggregated_data = aggregated_data[(aggregated_data['NombrePrincipal'] == selected_nombre_principal) & (aggregated_data['Zone'] == selected_zona)]
    return dcc.send_data_frame(filtered_aggregated_data.to_csv, filename="time_series_data.csv")

# Correr el servidor
if __name__ == '__main__':
    app.run_server(debug=True)